.div-render-strategy {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgb(9, 9, 121);
  background: linear-gradient(
    0deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 0, 0, 1) 53%,
    rgb(4, 83, 99) 79%
  );

  overflow: hidden;

  .strip {
    position: absolute;
    image-rendering: pixelated;
    overflow: hidden;
  }
}
