.div-render-strategy-textured {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgb(89, 89, 89);
  background: linear-gradient(
    0deg,
    rgb(66, 66, 66) 0%,
    rgba(0, 0, 0, 1) 53%,
    rgb(3, 67, 80) 79%
  );

  overflow: hidden;

  .strip {
    position: absolute;
    image-rendering: pixelated;
    overflow: hidden;

    background-color: black;

    .texture,
    img {
      position: relative;
      height: 100%;
    }
  }
}
