.ui-map {
  z-index: 10000;
  position: absolute;
  top: 0;
  right: 0;

  opacity: 0.8;

  background-color: rgba(45, 45, 45, 0.8);

  .cell-wrapper {
    position: relative;

    .cell {
      position: absolute;
      z-index: -1;

      background-color: black;

      background-size: cover;
    }

    .player-marker {
      position: absolute;

      .marker-body {
        position: relative;
        background-color: green;

        border-radius: 50%;

        &::after {
          position: absolute;
          content: "";

          width: 10px;
          height: 4px;
          top: 6px;
          left: 10px;

          background-color: black;
        }
      }
    }
  }
}
